--color-accent-bg: light-dark(#f5e2e0, #2e2836);
--color-accent-fg-normal: light-dark(#C43E1C, #E66F51);
--color-accent-fg: light-dark(#C43E1C, #E66F51);
--color-canvas-bg: light-dark(#F1EDED, #211F29);
--color-canvas-border: light-dark(#bca3a3, #4d4a5d);
--color-canvas-fg-faint: light-dark(#d1c4c8, #453e49);
--color-canvas-fg-muted: light-dark(#b19da8, #6c616b);
--color-canvas-fg: light-dark(#3D3C44, #DCDBDB);
--color-error-bg: light-dark(#f2d8d8, #2e2737);
--color-error-fg-normal: light-dark(#B22E32, #F55661);
--color-error-fg: light-dark(#B22E32, #ee5c66);
--color-info-bg: light-dark(#e5dcf3, #2d293f);
--color-info-fg-normal: light-dark(#3856d1, #69aafd);
--color-info-fg: light-dark(#3856d1, #69aafd);
--color-inverted-accent-bg: light-dark(#2e2836, #f5e2e0);
--color-inverted-accent-fg-normal: light-dark(#E66F51, #C43E1C);
--color-inverted-accent-fg: light-dark(#E66F51, #C43E1C);
--color-inverted-canvas-bg: light-dark(#211F29, #F1EDED);
--color-inverted-canvas-border: light-dark(#4d4a5d, #bca3a3);
--color-inverted-canvas-fg-faint: light-dark(#453e49, #d1c4c8);
--color-inverted-canvas-fg-muted: light-dark(#6c616b, #b19da8);
--color-inverted-canvas-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-error-bg: light-dark(#2e2737, #f2d8d8);
--color-inverted-error-fg-normal: light-dark(#F55661, #B22E32);
--color-inverted-error-fg: light-dark(#ee5c66, #B22E32);
--color-inverted-info-bg: light-dark(#2d293f, #e5dcf3);
--color-inverted-info-fg-normal: light-dark(#69aafd, #3856d1);
--color-inverted-info-fg: light-dark(#69aafd, #3856d1);
--color-inverted-layer1-bg: light-dark(#33313f, #e6dfdf);
--color-inverted-layer1-border: light-dark(#5d5a6f, #b69999);
--color-inverted-layer1-fg-faint: light-dark(#564e5b, #c8b9bd);
--color-inverted-layer1-fg-muted: light-dark(#796e78, #aa95a1);
--color-inverted-layer1-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-layer2-bg: light-dark(#454253, #dcd2d2);
--color-inverted-layer2-border: light-dark(#726f83, #b08f8f);
--color-inverted-layer2-fg-faint: light-dark(#665d6b, #c0afb4);
--color-inverted-layer2-fg-muted: light-dark(#867984, #a48e9a);
--color-inverted-layer2-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-layer3-bg: light-dark(#555266, #d3c5c5);
--color-inverted-layer3-border: light-dark(#858294, #ab8686);
--color-inverted-layer3-fg-faint: light-dark(#746a7a, #baa5ab);
--color-inverted-layer3-fg-muted: light-dark(#91848f, #9f8694);
--color-inverted-layer3-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-success-bg: light-dark(#2b2d3a, #e8e792);
--color-inverted-success-fg-normal: light-dark(#70cf92, #346e27);
--color-inverted-success-fg: light-dark(#70cf92, #565633);
--color-inverted-term-black: light-dark(#DCDBDB, #3D3C44);
--color-inverted-term-blue: light-dark(#69aafd, #3856d1);
--color-inverted-term-bright-black: light-dark(#DCDBDB, #3D3C44);
--color-inverted-term-bright-blue: light-dark(#69aafd, #3856d1);
--color-inverted-term-bright-cyan: light-dark(#18c6ce, #2c6a73);
--color-inverted-term-bright-green: light-dark(#70cf92, #346e27);
--color-inverted-term-bright-magenta: light-dark(#b5a0ff, #8f35bd);
--color-inverted-term-bright-red: light-dark(#F55661, #B22E32);
--color-inverted-term-bright-white: light-dark(#f5f5f5, #909098);
--color-inverted-term-bright-yellow: light-dark(#cfb787, #b17900);
--color-inverted-term-cyan: light-dark(#18c6ce, #2c6a73);
--color-inverted-term-green: light-dark(#70cf92, #346e27);
--color-inverted-term-magenta: light-dark(#b5a0ff, #8f35bd);
--color-inverted-term-red: light-dark(#F55661, #B22E32);
--color-inverted-term-white: light-dark(#f5f5f5, #909098);
--color-inverted-term-yellow: light-dark(#cfb787, #b17900);
--color-inverted-warning-bg: light-dark(#322b38, #fde37c);
--color-inverted-warning-fg-normal: light-dark(#cfb787, #b17900);
--color-inverted-warning-fg: light-dark(#cfb787, #615413);
--color-layer1-bg: light-dark(#e6dfdf, #33313f);
--color-layer1-border: light-dark(#b69999, #5d5a6f);
--color-layer1-fg-faint: light-dark(#c8b9bd, #564e5b);
--color-layer1-fg-muted: light-dark(#aa95a1, #796e78);
--color-layer1-fg: light-dark(#3D3C44, #DCDBDB);
--color-layer2-bg: light-dark(#dcd2d2, #454253);
--color-layer2-border: light-dark(#b08f8f, #726f83);
--color-layer2-fg-faint: light-dark(#c0afb4, #665d6b);
--color-layer2-fg-muted: light-dark(#a48e9a, #867984);
--color-layer2-fg: light-dark(#3D3C44, #DCDBDB);
--color-layer3-bg: light-dark(#d3c5c5, #555266);
--color-layer3-border: light-dark(#ab8686, #858294);
--color-layer3-fg-faint: light-dark(#baa5ab, #746a7a);
--color-layer3-fg-muted: light-dark(#9f8694, #91848f);
--color-layer3-fg: light-dark(#3D3C44, #DCDBDB);
--color-success-bg: light-dark(#e8e792, #2b2d3a);
--color-success-fg-normal: light-dark(#346e27, #70cf92);
--color-success-fg: light-dark(#565633, #70cf92);
--color-term-black: light-dark(#3D3C44, #DCDBDB);
--color-term-blue: light-dark(#3856d1, #69aafd);
--color-term-bright-black: light-dark(#3D3C44, #DCDBDB);
--color-term-bright-blue: light-dark(#3856d1, #69aafd);
--color-term-bright-cyan: light-dark(#2c6a73, #18c6ce);
--color-term-bright-green: light-dark(#346e27, #70cf92);
--color-term-bright-magenta: light-dark(#8f35bd, #b5a0ff);
--color-term-bright-red: light-dark(#B22E32, #F55661);
--color-term-bright-white: light-dark(#909098, #f5f5f5);
--color-term-bright-yellow: light-dark(#b17900, #cfb787);
--color-term-cyan: light-dark(#2c6a73, #18c6ce);
--color-term-green: light-dark(#346e27, #70cf92);
--color-term-magenta: light-dark(#8f35bd, #b5a0ff);
--color-term-red: light-dark(#B22E32, #F55661);
--color-term-white: light-dark(#909098, #f5f5f5);
--color-term-yellow: light-dark(#b17900, #cfb787);
--color-warning-bg: light-dark(#fde37c, #322b38);
--color-warning-fg-normal: light-dark(#b17900, #cfb787);
--color-warning-fg: light-dark(#615413, #cfb787);
