--color-accent-bg: light-dark(#f3d4d2, #382d40);
--color-accent-fg-normal: light-dark(#C43E1C, #E66F51);
--color-accent-fg: light-dark(#C43E1C, #E66F51);
--color-canvas-bg: light-dark(#F1EDED, #23212C);
--color-canvas-border: light-dark(#bca3a3, #4f4b60);
--color-canvas-fg-faint: light-dark(#e1d9da, #35303c);
--color-canvas-fg-muted: light-dark(#9f8a99, #6e626c);
--color-canvas-fg: light-dark(#3D3C44, #DCDBDB);
--color-error-bg: light-dark(#f2d8d8, #30293a);
--color-error-fg-normal: light-dark(#B22E32, #F55661);
--color-error-fg: light-dark(#B22E32, #ee5c66);
--color-info-bg: light-dark(#ccc2f2, #2e2b42);
--color-info-fg-normal: light-dark(#3856d1, #69aafd);
--color-info-fg: light-dark(#3856d1, #69aafd);
--color-inverted-accent-bg: light-dark(#382d40, #f3d4d2);
--color-inverted-accent-fg-normal: light-dark(#E66F51, #C43E1C);
--color-inverted-accent-fg: light-dark(#E66F51, #C43E1C);
--color-inverted-canvas-bg: light-dark(#23212C, #F1EDED);
--color-inverted-canvas-border: light-dark(#4f4b60, #bca3a3);
--color-inverted-canvas-fg-faint: light-dark(#35303c, #e1d9da);
--color-inverted-canvas-fg-muted: light-dark(#6e626c, #9f8a99);
--color-inverted-canvas-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-error-bg: light-dark(#30293a, #f2d8d8);
--color-inverted-error-fg-normal: light-dark(#F55661, #B22E32);
--color-inverted-error-fg: light-dark(#ee5c66, #B22E32);
--color-inverted-info-bg: light-dark(#2e2b42, #ccc2f2);
--color-inverted-info-fg-normal: light-dark(#69aafd, #3856d1);
--color-inverted-info-fg: light-dark(#69aafd, #3856d1);
--color-inverted-layer1-bg: light-dark(#353342, #e6dfdf);
--color-inverted-layer1-border: light-dark(#666179, #b69999);
--color-inverted-layer1-fg-faint: light-dark(#58505d, #c8b9bd);
--color-inverted-layer1-fg-muted: light-dark(#7b6f7a, #aa95a1);
--color-inverted-layer1-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-layer2-bg: light-dark(#474356, #dcd2d2);
--color-inverted-layer2-border: light-dark(#746f86, #b08f8f);
--color-inverted-layer2-fg-faint: light-dark(#685d6d, #c0afb4);
--color-inverted-layer2-fg-muted: light-dark(#887a86, #a48e9a);
--color-inverted-layer2-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-layer3-bg: light-dark(#575369, #d3c5c5);
--color-inverted-layer3-border: light-dark(#868297, #ab8686);
--color-inverted-layer3-fg-faint: light-dark(#766b7c, #baa5ab);
--color-inverted-layer3-fg-muted: light-dark(#938491, #9f8694);
--color-inverted-layer3-fg: light-dark(#DCDBDB, #3D3C44);
--color-inverted-success-bg: light-dark(#2c2f3c, #e8e792);
--color-inverted-success-fg-normal: light-dark(#70cf92, #346e27);
--color-inverted-success-fg: light-dark(#70cf92, #565633);
--color-inverted-term-black: light-dark(#DCDBDB, #3D3C44);
--color-inverted-term-blue: light-dark(#69aafd, #3856d1);
--color-inverted-term-bright-black: light-dark(#DCDBDB, #3D3C44);
--color-inverted-term-bright-blue: light-dark(#69aafd, #3856d1);
--color-inverted-term-bright-cyan: light-dark(#18c6ce, #2c6a73);
--color-inverted-term-bright-green: light-dark(#70cf92, #346e27);
--color-inverted-term-bright-magenta: light-dark(#b5a0ff, #8f35bd);
--color-inverted-term-bright-red: light-dark(#F55661, #B22E32);
--color-inverted-term-bright-white: light-dark(#f5f5f5, #909098);
--color-inverted-term-bright-yellow: light-dark(#cfb787, #b17900);
--color-inverted-term-cyan: light-dark(#18c6ce, #2c6a73);
--color-inverted-term-green: light-dark(#70cf92, #346e27);
--color-inverted-term-magenta: light-dark(#b5a0ff, #8f35bd);
--color-inverted-term-red: light-dark(#F55661, #B22E32);
--color-inverted-term-white: light-dark(#f5f5f5, #909098);
--color-inverted-term-yellow: light-dark(#cfb787, #b17900);
--color-inverted-warning-bg: light-dark(#342d3a, #fde37c);
--color-inverted-warning-fg-normal: light-dark(#cfb787, #b17900);
--color-inverted-warning-fg: light-dark(#cfb787, #615413);
--color-layer1-bg: light-dark(#e6dfdf, #353342);
--color-layer1-border: light-dark(#b69999, #666179);
--color-layer1-fg-faint: light-dark(#c8b9bd, #58505d);
--color-layer1-fg-muted: light-dark(#aa95a1, #7b6f7a);
--color-layer1-fg: light-dark(#3D3C44, #DCDBDB);
--color-layer2-bg: light-dark(#dcd2d2, #474356);
--color-layer2-border: light-dark(#b08f8f, #746f86);
--color-layer2-fg-faint: light-dark(#c0afb4, #685d6d);
--color-layer2-fg-muted: light-dark(#a48e9a, #887a86);
--color-layer2-fg: light-dark(#3D3C44, #DCDBDB);
--color-layer3-bg: light-dark(#d3c5c5, #575369);
--color-layer3-border: light-dark(#ab8686, #868297);
--color-layer3-fg-faint: light-dark(#baa5ab, #766b7c);
--color-layer3-fg-muted: light-dark(#9f8694, #938491);
--color-layer3-fg: light-dark(#3D3C44, #DCDBDB);
--color-success-bg: light-dark(#e8e792, #2c2f3c);
--color-success-fg-normal: light-dark(#346e27, #70cf92);
--color-success-fg: light-dark(#565633, #70cf92);
--color-term-black: light-dark(#3D3C44, #DCDBDB);
--color-term-blue: light-dark(#3856d1, #69aafd);
--color-term-bright-black: light-dark(#3D3C44, #DCDBDB);
--color-term-bright-blue: light-dark(#3856d1, #69aafd);
--color-term-bright-cyan: light-dark(#2c6a73, #18c6ce);
--color-term-bright-green: light-dark(#346e27, #70cf92);
--color-term-bright-magenta: light-dark(#8f35bd, #b5a0ff);
--color-term-bright-red: light-dark(#B22E32, #F55661);
--color-term-bright-white: light-dark(#909098, #f5f5f5);
--color-term-bright-yellow: light-dark(#b17900, #cfb787);
--color-term-cyan: light-dark(#2c6a73, #18c6ce);
--color-term-green: light-dark(#346e27, #70cf92);
--color-term-magenta: light-dark(#8f35bd, #b5a0ff);
--color-term-red: light-dark(#B22E32, #F55661);
--color-term-white: light-dark(#909098, #f5f5f5);
--color-term-yellow: light-dark(#b17900, #cfb787);
--color-warning-bg: light-dark(#fde37c, #342d3a);
--color-warning-fg-normal: light-dark(#b17900, #cfb787);
--color-warning-fg: light-dark(#615413, #cfb787);
