--color-accent-bg: light-dark(#f3d4d2, #342c3d);
--color-accent-fg-normal: light-dark(#C43E1C, #E66F51);
--color-accent-fg: light-dark(#C43E1C, #E66F51);
--color-canvas-bg: light-dark(#F1EDED, #1F1F29);
--color-canvas-border: light-dark(#bca3a3, #12121d);
--color-canvas-fg-faint: light-dark(#e1d9da, #2b2b37);
--color-canvas-fg-muted: light-dark(#9f8a99, #5f5f72);
--color-canvas-fg: light-dark(#3D3C44, #aaaab5);
--color-error-bg: light-dark(#f2d8d8, #2c2737);
--color-error-fg-normal: light-dark(#B22E32, #F55661);
--color-error-fg: light-dark(#B22E32, #ee5c66);
--color-info-bg: light-dark(#ccc2f2, #292a3d);
--color-info-fg-normal: light-dark(#3856d1, #69aafd);
--color-info-fg: light-dark(#42267d, #69aafd);
--color-inverted-accent-bg: light-dark(#342c3d, #f3d4d2);
--color-inverted-accent-fg-normal: light-dark(#E66F51, #C43E1C);
--color-inverted-accent-fg: light-dark(#E66F51, #C43E1C);
--color-inverted-canvas-bg: light-dark(#1F1F29, #F1EDED);
--color-inverted-canvas-border: light-dark(#12121d, #bca3a3);
--color-inverted-canvas-fg-faint: light-dark(#2b2b37, #e1d9da);
--color-inverted-canvas-fg-muted: light-dark(#5f5f72, #9f8a99);
--color-inverted-canvas-fg: light-dark(#aaaab5, #3D3C44);
--color-inverted-error-bg: light-dark(#2c2737, #f2d8d8);
--color-inverted-error-fg-normal: light-dark(#F55661, #B22E32);
--color-inverted-error-fg: light-dark(#ee5c66, #B22E32);
--color-inverted-info-bg: light-dark(#292a3d, #ccc2f2);
--color-inverted-info-fg-normal: light-dark(#69aafd, #3856d1);
--color-inverted-info-fg: light-dark(#69aafd, #42267d);
--color-inverted-layer1-bg: light-dark(#252531, #ebe6e6);
--color-inverted-layer1-border: light-dark(#090a09, #b69f9f);
--color-inverted-layer1-fg-faint: light-dark(#3b3b4c, #d0c3c3);
--color-inverted-layer1-fg-muted: light-dark(#5e5e73, #ac9090);
--color-inverted-layer1-fg: light-dark(#a0a0ad, #604747);
--color-inverted-layer2-bg: light-dark(#2e2e3c, #e5dede);
--color-inverted-layer2-border: light-dark(#090a09, #b59898);
--color-inverted-layer2-fg-faint: light-dark(#49495d, #cbbbbb);
--color-inverted-layer2-fg-muted: light-dark(#767689, #ab8787);
--color-inverted-layer2-fg: light-dark(#c8c8d0, #5c4040);
--color-inverted-layer3-bg: light-dark(#373747, #dbd1d1);
--color-inverted-layer3-border: light-dark(#090a09, #af8e8e);
--color-inverted-layer3-fg-faint: light-dark(#515166, #c5b2b2);
--color-inverted-layer3-fg-muted: light-dark(#7b7b8e, #a88383);
--color-inverted-layer3-fg: light-dark(#c8c8d0, #614343);
--color-inverted-success-bg: light-dark(#2a2d35, #e8e792);
--color-inverted-success-fg-normal: light-dark(#70cf92, #346e27);
--color-inverted-success-fg: light-dark(#70cf92, #565633);
--color-inverted-term-black: light-dark(#bbbbbb, #3D3C44);
--color-inverted-term-blue: light-dark(#69aafd, #3856d1);
--color-inverted-term-bright-black: light-dark(#bbbbbb, #3D3C44);
--color-inverted-term-bright-blue: light-dark(#69aafd, #3856d1);
--color-inverted-term-bright-cyan: light-dark(#18c6ce, #2c6a73);
--color-inverted-term-bright-green: light-dark(#70cf92, #346e27);
--color-inverted-term-bright-magenta: light-dark(#b5a0ff, #8f35bd);
--color-inverted-term-bright-red: light-dark(#F55661, #B22E32);
--color-inverted-term-bright-white: light-dark(#f5f5f5, #909098);
--color-inverted-term-bright-yellow: light-dark(#cfb787, #b17900);
--color-inverted-term-cyan: light-dark(#18c6ce, #2c6a73);
--color-inverted-term-green: light-dark(#70cf92, #346e27);
--color-inverted-term-magenta: light-dark(#b5a0ff, #8f35bd);
--color-inverted-term-red: light-dark(#F55661, #B22E32);
--color-inverted-term-white: light-dark(#f5f5f5, #909098);
--color-inverted-term-yellow: light-dark(#cfb787, #b17900);
--color-inverted-warning-bg: light-dark(#302b38, #fde37c);
--color-inverted-warning-fg-normal: light-dark(#cfb787, #b17900);
--color-inverted-warning-fg: light-dark(#cfb787, #615413);
--color-layer1-bg: light-dark(#ebe6e6, #252531);
--color-layer1-border: light-dark(#b69f9f, #090a09);
--color-layer1-fg-faint: light-dark(#d0c3c3, #3b3b4c);
--color-layer1-fg-muted: light-dark(#ac9090, #5e5e73);
--color-layer1-fg: light-dark(#604747, #a0a0ad);
--color-layer2-bg: light-dark(#e5dede, #2e2e3c);
--color-layer2-border: light-dark(#b59898, #090a09);
--color-layer2-fg-faint: light-dark(#cbbbbb, #49495d);
--color-layer2-fg-muted: light-dark(#ab8787, #767689);
--color-layer2-fg: light-dark(#5c4040, #c8c8d0);
--color-layer3-bg: light-dark(#dbd1d1, #373747);
--color-layer3-border: light-dark(#af8e8e, #090a09);
--color-layer3-fg-faint: light-dark(#c5b2b2, #515166);
--color-layer3-fg-muted: light-dark(#a88383, #7b7b8e);
--color-layer3-fg: light-dark(#614343, #c8c8d0);
--color-success-bg: light-dark(#e8e792, #2a2d35);
--color-success-fg-normal: light-dark(#346e27, #70cf92);
--color-success-fg: light-dark(#565633, #70cf92);
--color-term-black: light-dark(#3D3C44, #bbbbbb);
--color-term-blue: light-dark(#3856d1, #69aafd);
--color-term-bright-black: light-dark(#3D3C44, #bbbbbb);
--color-term-bright-blue: light-dark(#3856d1, #69aafd);
--color-term-bright-cyan: light-dark(#2c6a73, #18c6ce);
--color-term-bright-green: light-dark(#346e27, #70cf92);
--color-term-bright-magenta: light-dark(#8f35bd, #b5a0ff);
--color-term-bright-red: light-dark(#B22E32, #F55661);
--color-term-bright-white: light-dark(#909098, #f5f5f5);
--color-term-bright-yellow: light-dark(#b17900, #cfb787);
--color-term-cyan: light-dark(#2c6a73, #18c6ce);
--color-term-green: light-dark(#346e27, #70cf92);
--color-term-magenta: light-dark(#8f35bd, #b5a0ff);
--color-term-red: light-dark(#B22E32, #F55661);
--color-term-white: light-dark(#909098, #f5f5f5);
--color-term-yellow: light-dark(#b17900, #cfb787);
--color-warning-bg: light-dark(#fde37c, #302b38);
--color-warning-fg-normal: light-dark(#b17900, #cfb787);
--color-warning-fg: light-dark(#615413, #cfb787);
