@media (prefers-color-scheme: dark) {
--color-canvas-fg-muted: #6a5f67;
--color-term-bright-yellow: #cfb787;
--color-accent-fg: #E66F51;
--color-term-bright-cyan: #18c6ce;
--color-layer2-fg: #9295a6;
--color-term-green: #70cf92;
--color-success-fg: #70cf92;
--color-info-bg: #292b3c;
--color-warning-fg: #cfb787;
--color-error-bg: #2b283b;
--color-layer3-fg-faint: #292b37;
--color-canvas-fg-faint: #2d2b38;
--color-term-magenta: #b5a0ff;
--color-accent-bg: #342c40;
--color-layer2-fg-muted: #4f5264;
--color-layer1-fg-muted: #505266;
--color-layer3-fg: #86899d;
--color-term-white: #f5f5f5;
--color-error-fg: #ee5c66;
--color-canvas-border: #090a09;
--color-layer3-border: #090a09;
--color-term-cyan: #18c6ce;
--color-term-black: #B0ABAB;
--color-layer2-bg: #171820;
--color-accent-fg-normal: #E66F51;
--color-canvas-fg: #B0ABAB;
--color-term-bright-green: #70cf92;
--color-layer1-border: #090a09;
--color-layer2-border: #090a09;
--color-canvas-bg: #1F2029;
--color-term-blue: #69aafd;
--color-layer1-fg-faint: #2d2f3b;
--color-term-red: #F55661;
--color-layer1-bg: #181921;
--color-info-fg: #69aafd;
--color-term-bright-blue: #69aafd;
--color-term-bright-white: #f5f5f5;
--color-layer2-fg-faint: #2c2e3a;
--color-term-bright-red: #F55661;
--color-success-fg-normal: #70cf92;
--color-layer3-fg-muted: #494c5e;
--color-success-bg: #2a2e36;
--color-error-fg-normal: #F55661;
--color-info-fg-normal: #69aafd;
--color-warning-fg-normal: #cfb787;
--color-term-bright-black: #B0ABAB;
--color-layer1-fg: #9395a6;
--color-layer3-bg: #16171f;
--color-term-bright-magenta: #b5a0ff;
--color-term-yellow: #cfb787;
--color-warning-bg: #302b3b;
}
