@media (prefers-color-scheme: light) {
--color-layer1-bg: #e6dfdf;
--color-success-fg: #565633;
--color-canvas-fg-muted: #9f8a99;
--color-canvas-bg: #F1EDED;
--color-term-magenta: #8f35bd;
--color-layer2-fg-muted: #a48e9a;
--color-accent-fg-normal: #C43E1C;
--color-layer3-bg: #d3c5c5;
--color-success-bg: #e8e792;
--color-layer2-border: #b08f8f;
--color-accent-bg: #f3d4d2;
--color-error-fg: #B22E32;
--color-info-fg-normal: #3856d1;
--color-term-blue: #3856d1;
--color-warning-bg: #fde37c;
--color-info-fg: #3856d1;
--color-layer3-fg-faint: #baa5ab;
--color-term-bright-red: #B22E32;
--color-term-bright-cyan: #2c6a73;
--color-layer2-fg: #3D3C44;
--color-layer1-fg-muted: #aa95a1;
--color-term-white: #909098;
--color-layer2-bg: #dcd2d2;
--color-term-bright-blue: #3856d1;
--color-warning-fg-normal: #b17900;
--color-error-fg-normal: #B22E32;
--color-warning-fg: #615413;
--color-term-bright-magenta: #8f35bd;
--color-layer1-border: #b69999;
--color-term-bright-black: #3D3C44;
--color-success-fg-normal: #346e27;
--color-term-bright-green: #346e27;
--color-error-bg: #f2d8d8;
--color-layer2-fg-faint: #c0afb4;
--color-term-bright-white: #909098;
--color-info-bg: #ccc2f2;
--color-term-cyan: #2c6a73;
--color-canvas-border: #bca3a3;
--color-layer3-border: #ab8686;
--color-accent-fg: #C43E1C;
--color-canvas-fg: #3D3C44;
--color-layer1-fg: #3D3C44;
--color-term-red: #B22E32;
--color-term-green: #346e27;
--color-term-black: #3D3C44;
--color-layer3-fg-muted: #9f8694;
--color-layer1-fg-faint: #c8b9bd;
--color-term-bright-yellow: #b17900;
--color-canvas-fg-faint: #e1d9da;
--color-term-yellow: #b17900;
--color-layer3-fg: #3D3C44;
}
