@media (prefers-color-scheme: dark) {
--color-term-bright-red: #F55661;
--color-warning-bg: #342d3a;
--color-canvas-fg-muted: #6e626c;
--color-layer2-border: #746f86;
--color-canvas-border: #4f4b60;
--color-canvas-fg-faint: #35303c;
--color-info-fg: #69aafd;
--color-layer2-fg: #DCDBDB;
--color-term-white: #f5f5f5;
--color-term-bright-yellow: #cfb787;
--color-success-fg-normal: #70cf92;
--color-layer3-fg-muted: #938491;
--color-layer3-border: #868297;
--color-info-fg-normal: #69aafd;
--color-accent-fg-normal: #E66F51;
--color-term-black: #DCDBDB;
--color-term-cyan: #18c6ce;
--color-layer1-fg-faint: #58505d;
--color-term-bright-black: #DCDBDB;
--color-layer2-fg-faint: #685d6d;
--color-term-red: #F55661;
--color-layer3-bg: #575369;
--color-info-bg: #2e2b42;
--color-error-fg-normal: #F55661;
--color-layer3-fg-faint: #766b7c;
--color-accent-bg: #382d40;
--color-layer1-bg: #353342;
--color-term-magenta: #b5a0ff;
--color-error-bg: #30293a;
--color-layer1-fg-muted: #7b6f7a;
--color-term-green: #70cf92;
--color-success-bg: #2c2f3c;
--color-warning-fg-normal: #cfb787;
--color-canvas-fg: #DCDBDB;
--color-layer2-bg: #474356;
--color-term-yellow: #cfb787;
--color-term-bright-cyan: #18c6ce;
--color-term-bright-blue: #69aafd;
--color-layer2-fg-muted: #887a86;
--color-term-bright-green: #70cf92;
--color-layer1-fg: #DCDBDB;
--color-term-blue: #69aafd;
--color-layer1-border: #666179;
--color-term-bright-magenta: #b5a0ff;
--color-warning-fg: #cfb787;
--color-canvas-bg: #23212C;
--color-success-fg: #70cf92;
--color-error-fg: #ee5c66;
--color-term-bright-white: #f5f5f5;
--color-accent-fg: #E66F51;
--color-layer3-fg: #DCDBDB;
}
