@media (prefers-color-scheme: light) {
--color-term-cyan: #2c6a73;
--color-term-yellow: #b17900;
--color-term-blue: #3856d1;
--color-canvas-fg-muted: #9f8a99;
--color-info-bg: #ccc2f2;
--color-layer1-bg: #ebe6e6;
--color-accent-bg: #f3d4d2;
--color-warning-fg: #615413;
--color-warning-bg: #fde37c;
--color-warning-fg-normal: #b17900;
--color-term-bright-green: #346e27;
--color-info-fg-normal: #3856d1;
--color-layer1-fg-muted: #ac9090;
--color-term-bright-cyan: #2c6a73;
--color-layer1-border: #b69f9f;
--color-accent-fg: #C43E1C;
--color-error-bg: #f2d8d8;
--color-layer3-border: #af8e8e;
--color-layer2-fg: #5c4040;
--color-success-fg-normal: #346e27;
--color-error-fg: #B22E32;
--color-layer3-fg-muted: #a88383;
--color-layer3-bg: #dbd1d1;
--color-info-fg: #42267d;
--color-layer2-bg: #e5dede;
--color-success-fg: #565633;
--color-term-bright-blue: #3856d1;
--color-term-magenta: #8f35bd;
--color-term-bright-yellow: #b17900;
--color-canvas-bg: #F1EDED;
--color-canvas-fg-faint: #d1c4c8;
--color-success-bg: #e8e792;
--color-term-black: #3D3C44;
--color-term-green: #346e27;
--color-canvas-border: #bca3a3;
--color-layer2-fg-faint: #cbbbbb;
--color-layer2-border: #b59898;
--color-canvas-fg: #3D3C44;
--color-term-bright-magenta: #8f35bd;
--color-layer2-fg-muted: #ab8787;
--color-term-bright-black: #3D3C44;
--color-term-bright-red: #B22E32;
--color-accent-fg-normal: #C43E1C;
--color-term-bright-white: #909098;
--color-layer1-fg-faint: #d0c3c3;
--color-layer1-fg: #604747;
--color-term-red: #B22E32;
--color-term-white: #909098;
--color-layer3-fg-faint: #c5b2b2;
--color-error-fg-normal: #B22E32;
--color-layer3-fg: #614343;
}
