@media (prefers-color-scheme: dark) {
--color-layer1-border: #090a09;
--color-success-fg: #70cf92;
--color-info-bg: #292a3d;
--color-canvas-fg-faint: #2b2b37;
--color-term-bright-magenta: #b5a0ff;
--color-error-bg: #2c2737;
--color-term-bright-red: #F55661;
--color-layer3-fg-muted: #7b7b8e;
--color-warning-fg-normal: #cfb787;
--color-layer1-fg-muted: #5e5e73;
--color-success-fg-normal: #70cf92;
--color-warning-bg: #302b38;
--color-term-blue: #69aafd;
--color-info-fg: #69aafd;
--color-layer2-bg: #2e2e3c;
--color-term-bright-white: #f5f5f5;
--color-layer2-fg-muted: #767689;
--color-layer1-fg-faint: #3b3b4c;
--color-warning-fg: #cfb787;
--color-layer3-bg: #373747;
--color-term-bright-green: #70cf92;
--color-term-magenta: #b5a0ff;
--color-term-bright-blue: #69aafd;
--color-term-black: #bbbbbb;
--color-layer2-border: #090a09;
--color-layer1-bg: #252531;
--color-term-green: #70cf92;
--color-term-bright-cyan: #18c6ce;
--color-term-bright-yellow: #cfb787;
--color-layer3-border: #090a09;
--color-error-fg-normal: #F55661;
--color-accent-fg-normal: #E66F51;
--color-layer1-fg: #a0a0ad;
--color-canvas-bg: #1F1F29;
--color-info-fg-normal: #69aafd;
--color-canvas-fg-muted: #5f5f72;
--color-term-bright-black: #bbbbbb;
--color-layer2-fg: #c8c8d0;
--color-term-cyan: #18c6ce;
--color-layer3-fg-faint: #515166;
--color-term-white: #f5f5f5;
--color-canvas-border: #12121d;
--color-term-red: #F55661;
--color-canvas-fg: #aaaab5;
--color-layer2-fg-faint: #49495d;
--color-error-fg: #ee5c66;
--color-accent-bg: #342c3d;
--color-accent-fg: #E66F51;
--color-layer3-fg: #c8c8d0;
--color-term-yellow: #cfb787;
--color-success-bg: #2a2d35;
}
